---
export interface Props {
  id: string;
  title: string;
  images: string[];
  altPrefix: string;
}

const { id, title } = Astro.props;
---

<!-- Modal Overlay -->
<div class="modal-overlay" id={`modal-${id}`}>
  <div class="modal-content">
    <button class="modal-close" id={`modal-close-${id}`}>
      <i class="lni lni-close"></i>
    </button>

    <button class="modal-nav modal-prev" id={`modal-prev-btn-${id}`}>
      <i class="lni lni-chevron-left"></i>
    </button>

    <button class="modal-nav modal-next" id={`modal-next-btn-${id}`}>
      <i class="lni lni-chevron-right"></i>
    </button>

    <div class="modal-category">{title}</div>

    <img class="modal-image" id={`modal-image-${id}`} src="" alt="" />

    <div class="modal-counter" id={`modal-counter-${id}`}></div>
  </div>
</div>
